---
import type { CollectionEntry } from "astro:content";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import TagNav from "../components/TagNav.astro";
import { site } from "../data/site";
import ParticlesBlog from "../components/Particles/ParticlesBlog.astro";
import Waline from "../components/vue/Waline.vue";

type Props = CollectionEntry<"blog">["data"];
const { title, description, tags, pubDate } = Astro.props;
---

<!doctype html>
<html lang={site.lang}>
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <ParticlesBlog />
    <Navigation />
    <main id="main" class="container myblog" transition:animate="slide">
      <h1>{title}</h1>
      <div class="blog-metadata">
        <TagNav {tags} />
        <p class="pubDate">
          <time datetime={pubDate.toString()}
            >{
              new Date(pubDate).toLocaleString(site.lang, {
                dateStyle: "medium",
              })
            }</time
          >
        </p>
      </div>
      <article>
        <slot />
      </article>
    </main>
    <Waline title={title} client:load />
    <!-- <Footer /> -->
  </body>
</html>
